<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Factor Authentication</title>

    <link href="css/mdb.min.css" rel="stylesheet" type="text/css" />
    <link href="sass/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="vh-100 d-flex justify-content-center align-items-center">
            <div class="col-md-8 card-body border border-primary rounded-4">
                <div class="row">
                    <div class="col">
                        <div class="m-1">
                            <h3>Register</h3>
                            <hr class="border border-primary" />
                            <form action="/register" method="post">
                                <label class="form-label" for="name">Name</label>
                                <input class="form-control" id="name" placeholder="Name" name="name" />
                                <br />
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" id="username" placeholder="Name" name="username" />
                                <br />
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" id="password" type="password" placeholder="Password" name="password" />
                                <br />
                                <button class="w-100 btn btn-primary">Register</button>
                            </form>
                        </div>
                    </div>
                    <div class="col">
                        <div class="m-1">
                            <h3>Login</h3>
                            <hr class="border border-primary" />
                            <form action="/login" method="post">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" id="username" placeholder="Name" name="username" />
                                <br />
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" id="password" type="password" placeholder="Password" name="password" />
                                <br />
                                <button class="w-100 btn btn-primary">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/mdb.min.js"></script>
</body>
</html>