<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Factor Authentication</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D1NSPH53B9"></script>

    <link href="css/mdb.min.css" rel="stylesheet" type="text/css" />
    <link href="sass/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-light bg-primary shadow-0 pt-3">
        <div class="container">
            <a href="/" class="navbar-brand text-white fw-bold">TFA Dashboard</a>
            <a href="/auth" class="btn btn-white fw-bold text-primary shadow-0">Signin</a>
        </div>
    </nav>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 170"><path fill="#1266f1" fill-opacity="1" d="M0,32L20,37.3C40,43,80,53,120,53.3C160,53,200,43,240,42.7C280,43,320,53,360,48C400,43,440,21,480,26.7C520,32,560,64,600,85.3C640,107,680,117,720,117.3C760,117,800,107,840,85.3C880,64,920,32,960,42.7C1000,53,1040,107,1080,112C1120,117,1160,75,1200,53.3C1240,32,1280,32,1320,32C1360,32,1400,32,1420,32L1440,32L1440,0L1420,0C1400,0,1360,0,1320,0C1280,0,1240,0,1200,0C1160,0,1120,0,1080,0C1040,0,1000,0,960,0C920,0,880,0,840,0C800,0,760,0,720,0C680,0,640,0,600,0C560,0,520,0,480,0C440,0,400,0,360,0C320,0,280,0,240,0C200,0,160,0,120,0C80,0,40,0,20,0L0,0Z"></path></svg>
    <div class="container pb-5">
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="row card-body border border-primary rounded-4">
                    <div class="col-md-6">
                        <div class="m-1 pb-3">
                            <h3 class="text-primary">Register</h3>
                            <hr class="border border-primary" />
                            <form action="/register" method="post">
                                <label class="form-label" for="name">Name</label>
                                <input class="form-control" id="name" placeholder="Name" name="name" />
                                <br />
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" id="username" placeholder="Name" name="username" />
                                <br />
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" id="password" type="password" placeholder="Password" name="password" />
                                <br />
                                <button class="w-100 btn btn-primary fw-bold">Register</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="m-1 pb-3">
                            <h3 class="text-primary">Login</h3>
                            <hr class="border border-primary" />
                            <form action="/login" method="post">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" id="username" placeholder="Name" name="username" />
                                <br />
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" id="password" type="password" placeholder="Password" name="password" />
                                <br />
                                <button class="w-100 btn btn-primary fw-bold">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/mdb.min.js"></script>
</body>
</html>