<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Factor Authentication</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D1NSPH53B9"></script>

    <link href="css/mdb.min.css" rel="stylesheet" type="text/css" />
    <link href="sass/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="vh-100 d-flex justify-content-center align-items-center">
            <h1>Welcome to Telegram Factor Authentication</h1>
        </div>
    </div>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/mdb.min.js"></script>
</body>
</html>