<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Factor Authentication</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D1NSPH53B9"></script>

    <link href="css/mdb.min.css" rel="stylesheet" type="text/css" />
    <link href="sass/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-light bg-primary shadow-0">
        <div class="container">
            <a href="/" class="navbar-brand text-white fw-bold">Telegram Factor Authentication Dashboard</a>
            <a href="/auth" class="btn btn-white fw-bold text-primary shadow-0">Signin</a>
        </div>
    </nav>
    <div class="container py-4">
    </div>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/mdb.min.js"></script>
</body>
</html>