<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Factor Authentication</title>

    <script src="https://kit.fontawesome.com/4a679d8ec0.js" crossorigin="anonymous"></script>

    <link href="css/mdb.min.css" rel="stylesheet" type="text/css" />
    <link href="sass/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-light bg-primary shadow-0 py-3">
        <div class="container">
            <a href="/" class="navbar-brand text-white fw-bold">TFA Dashboard</a>
        </div>
    </nav>
    <div class="container py-4">
        <ul class="nav nav-tabs mb-3" id="ex-with-icons" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab-1" data-mdb-toggle="tab" href="#tabs-1" role="tab"
                    aria-controls="tabs-1" aria-selected="true"><i class="fa fa-home fa-fw me-2"></i>Home</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab-2" data-mdb-toggle="tab" href="#tabs-2" role="tab"
                    aria-controls="tabs-2" aria-selected="false"><i class="fa fa-cogs fa-fw me-2"></i>Settings</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab-3" data-mdb-toggle="tab" href="#tabs-3" role="tab"
                    aria-controls="tabs-3" aria-selected="false"><i class="fa fa-bank fa-fw me-2"></i>Account</a>
            </li>
        </ul>
        
        <div class="tab-content" id="content">
            <div class="tab-pane fade show active" id="tabs-1" role="tabpanel" aria-labelledby="tab-1">
                <h1 class="text-primary">Hello,</h1>
                <h3>Here are some helps you may need!</h3>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="m-1 card-body shadow-5-soft bg-white">
                            <h5 class="fw-bold">Get access token</h5>
                            <p>If you want to get your <b>Access token</b>, head over to <b class="text-primary"><i class="fa fa-bank"></i> Account</b> and there will be your access token.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="m-1 card-body shadow-5-soft bg-white">
                            <h5 class="fw-bold">Change your account settings</h5>
                            <p>To change any field or stuff, open <b class="text-primary"><i class="fa fa-cogs"></i> Settings</b> and then you can change anything.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tabs-2" role="tabpanel" aria-labelledby="tab-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="m-1">
                            <h2 class="text-primary">Change name</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="m-1">
                            <form action="/update/name" method="post">
                                <label class="form-label" for="name">Name</label>
                                <input placeholder="Name" value="<%= user.name %>" class="form-control" id="name" name="name" />
                                <br />
                                <button type="submit" class="btn btn-primary fw-bold">Change name</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr class="border border-primary" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="m-1">
                            <h2 class="text-primary">Change password</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="m-1">
                            <form action="/update/password" method="post">
                                <label class="form-label" for="current">Current password</label>
                                <input placeholder="Current password" type="password" class="form-control" id="current" name="current" />
                                <br />
                                <div class="row">
                                    <div class="col">
                                        <label class="form-label" for="new">New password</label>
                                        <input placeholder="New password" type="password" class="form-control" id="new" name="new" />
                                    </div>
                                    <div class="col">
                                        <label class="form-label" for="repeat">Repeat password</label>
                                        <input placeholder="Repeat password" type="password" class="form-control" id="repeat" name="repeat" />
                                    </div>
                                </div>
                                <br />
                                <button type="submit" class="btn btn-primary fw-bold">Change password</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr class="border border-danger" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="m-1">
                            <h2 class="text-danger">Logout</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="m-1">
                            <a href="/logout" class="btn btn-danger fw-bold shadow-0">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tabs-3" role="tabpanel" aria-labelledby="tab-3">
                <div class="row">
                    <div class="col-md-6">
                        <div class="m-1">
                            <h2 class="text-primary">Access token</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="m-1">
                            <label class="form-label" for="token">Access token</label>
                            <div class="input-group mb-3">
                                <input
                                    id="token"
                                    type="text"
                                    class="form-control bg-white"
                                    value="<%= user.access_token %>"
                                    readonly
                                />
                                <span class="input-group-text" id="basic-addon2">
                                    <i data-clipboard-target="#token" class="fa fa-copy text-primary pointer cat"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="border border-primary" />
            </div>
        </div>
    </div>

    <script src="js/clipboard.min.js"></script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/mdb.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>