<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Factor Authentication</title>

    <script src="https://kit.fontawesome.com/4a679d8ec0.js" crossorigin="anonymous"></script>

    <link href="css/mdb.min.css" rel="stylesheet" type="text/css" />
    <link href="sass/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-light bg-primary shadow-0">
        <div class="container">
            <a href="/" class="navbar-brand text-white">TFA</a>
        </div>
    </nav>
    <div class="container py-4">
        <div class="col-md-4">
            <label class="form-label" for="token">Access token</label>
            <div class="input-group mb-3">
                <input
                    id="token"
                    type="text"
                    class="form-control bg-white"
                    value="<%= user.access_token %>"
                    readonly
                />
                <span class="input-group-text" id="basic-addon2">
                    <i data-clipboard-target="#token" class="fa fa-copy text-primary pointer cat"></i>
                </span>
            </div>
        </div>
    </div>

    <script src="js/clipboard.min.js"></script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/mdb.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>